<link rel='stylesheet' href='/stylesheets/style.css' />

<ul>
	<% for (var i=0; i<dates.length; i++) { %>
		<li id="<%=forecast.codi%>_date_<%=i%>" onclick="selectDate(<%=dates.length%>, <%=i%>)">
		 	<%=dates[i]%>
		</li>
	<% } %>
</ul>

<div id="<%=forecast.codi%>_detail%>">
	<%for (var i=0; i<forecast.dies.length; i++) { 
	%>
		<div id="<%=forecast.codi%>_detail_<%=i%>" style="display:none" >
			<br>
			<hr>
			<table>
				<tr>
					<td class="forecast forecast_image">
						<img height="100" width="100" src="/images/<%=forecast.dies[i].variables.estatCel.simbol%>.png" >
					</td>
					<td class="forecast forecast_rainfall">
						<svg height="100" width="100" col>
							<rect x="0" y="0" rx="10" ry="10" width="100" height="100" style="fill:#e6f2ff;stroke:##99caff;stroke-width:2;opacity:0.5" />
							<text x="35" y="50" font-weight="bolder"><%=forecast.dies[i].variables.precipitacio.valor%><%=forecast.dies[i].variables.precipitacio.unitat%></text>
							<rect x="0" y="<%=100-forecast.dies[i].variables.precipitacio.valor%>" rx="10" ry="10" width="100" height="<%=forecast.dies[i].variables.precipitacio.valor%>" style="fill:#4da3ff;stroke:##99caff;stroke-width:2;opacity:0.5" />
  						</svg>
					</td>
				</tr>
				<tr>
					<td class="forecast forecast_min_max">
						<font color="red"><%=forecast.dies[i].variables.tmax.valor%><%=forecast.dies[i].variables.tmax.unitats%></font>
						/
						<font color="#0033cc"><%=forecast.dies[i].variables.tmin.valor%><%=forecast.dies[i].variables.tmin.unitats%></font>
					</td>
					<td class="forecast forecast_rainfall_text">
						Precipitació
					</td>
				</tr>
			</table>
		</div>
	<% 
	}
	%>
</div>

<script>
	document.getElementById('<%=forecast.codi%>_date_0').style.backgroundColor = '#ccc';
	document.getElementById('<%=forecast.codi%>_detail_0').style.display = 'block';

	var selectDate = function (length, id) {
		for (var i=0; i<length; i++) {
			if (id===i) {
				document.getElementById('<%=forecast.codi%>_date_' + i).style.backgroundColor = '#ccc';
				document.getElementById('<%=forecast.codi%>_detail_' + i).style.display = 'block';
			}
			else {
				document.getElementById('<%=forecast.codi%>_date_' + i).style.backgroundColor = '#fff';
				document.getElementById('<%=forecast.codi%>_detail_' + i).style.display = 'none';
			}
		};
	};
</script>

